{% extends 'base.html' %}
{% load static %}
{% block title %}События{% endblock %}
{% block header %}{{ user.get_full_name }}{% endblock %}
{% block content %}
	<div>
		<div>
			<h3>Все события</h3>
			<div class="d-flex">
				<ul class="nav nav-tabs nav-pills border-0 flex-row flex-md-column me-5 mb-3 mb-md-0 fs-6">
					{% for event in object_list %}
						<li class="nav-item w-md-150px me-0">
							<a class="nav-link" data-bs-toggle="tab" href="#nav-all-{{ event.id }}">{{ event.title }}</a>
						</li>
					{% endfor %}
				</ul>
				<div class="tab-content" id="nav-tabContent">
					{% for event in object_list %}
						<div class="tab-pane fade" id="nav-all-{{ event.id }}" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="card shadow-sm">
								<div class="card-header">
									<h3 class="card-title">{{ event.title }}</h3>
								</div>
								<div class="card-body">
									<div class="text-gray-900 pb-10"><h3>Описание</h3>{{ event.description }}</div>
									<div class="text-gray-900 pb-10"><h3>Участники</h3>
										{% for member in  event.members.all %}
											<a class="link-success" data-bs-toggle="popover" data-bs-html="true" data-bs-dismiss="true"
												 data-bs-placement="right" title="{{ member.get_full_name }}"
												 data-bs-content=
														 '<ul>
																<li>Дата регистрации: {{ member.date_joined }}</li>
														 		{% if member.birthday %}<li>Дата рождение: {{ member.birthday }}</li>{% endif %}
															</ul>'
											>
												{{ member.get_full_name }}
											</a>
											<br>
										{% endfor %}
									</div>
									<div class="text-gray-900 pb-10">
										<a href="#" class="btn btn-secondary">Принять участия</a>
									</div>
									<div class="card-footer">
										{{ event.created_at }}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% if creator_event %}
			<div>
				<h3>Мои события</h3>
				<div class="d-flex">
					<ul class="nav nav-tabs nav-pills border-0 flex-row flex-md-column me-5 mb-3 mb-md-0 fs-6">
						{% for event in creator_event %}
							<li class="nav-item w-md-150px me-0">
								<a class="nav-link" data-bs-toggle="tab" href="#nav-one-{{ event.id }}">{{ event.title }}</a>
							</li>
						{% endfor %}
					</ul>
					<div class="tab-content" id="nav-tabContent">
						{% for event in creator_event %}
							<div class="tab-pane fade" id="nav-one-{{ event.id }}" role="tabpanel" aria-labelledby="nav-home-tab">
								<div class="card shadow-sm">
									<div class="card-header">
										<h3 class="card-title">{{ event.title }}</h3>
									</div>
									<div class="card-body">
										<div class="text-gray-900 pb-10"><h3>Описание</h3>{{ event.description }}</div>
										<div class="text-gray-900 pb-10"><h3>Участники</h3>
											{% for member in  event.members.all %}
												<a class="link-success" data-bs-toggle="popover" data-bs-dismiss="true" data-bs-html="true"
													 data-bs-placement="right" title="{{ member.get_full_name }}"
													 data-bs-content=
															 '<ul>
																<li>Дата регистрации: {{ member.date_joined }}</li>
														 		{% if member.birthday %}<li>Дата рождение: {{ member.birthday }}</li>{% endif %}
															</ul>'
												>
													{{ member.get_full_name }}
												</a>
												<br>
											{% endfor %}
										</div>
										<div class="text-gray-900 pb-10">
											<button onclick="add_members({{ event.id }}, {{ user.id }})" class="btn btn-secondary">Отмена участия</button>
										</div>
									</div>
									<div class="card-footer">
										{{ event.created_at }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>


{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static 'assets/js/event/event.js' %}"></script>
{% endblock js %}