{% load static %}
<!DOCTYPE html>
<html lang="ru">
<!--begin::Head-->
<head>
	<base href="../">
	<title>Регистрация</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<link rel="canonical" href="Https://preview.keenthemes.com/start"/>
	<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}"/>
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-white">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
	<!--begin::Login-->
	<div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
		<!--begin::Aside-->
		<div class="d-flex flex-column flex-lg-row-auto bg-primary w-lg-600px pt-15 pt-lg-0">
			<!--begin::Aside Top-->
			<div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5">

			</div>
			<!--end::Aside Top-->
			<!--begin::Illustration-->
			<div
					class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"></div>
			<!--end::Illustration-->
		</div>
		<!--begin::Aside-->
		<!--begin::Illustration-->
		<div
				class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"></div>
		<!--end::Illustration-->
		<!--begin::Content-->
		<div
				class="login-content flex-lg-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-450px w-100">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column-fluid flex-center py-10">
				<!--begin::Signin Form-->
				<form class="form w-100" method="post" action="{% url 'registration' %}">
					{% csrf_token %}
					<!--begin::Form group-->
					<div class="pb-5 pb-lg-15">
						<h3 class="fw-bolder text-dark display-6">Регистрация</h3>
					</div>
					{% for field in form %}
						<div class="fv-row mb-10">
							<label class="form-label fs-6 fw-bolder text-dark">{{ field.label_tag | cut:':' }}
								<input class="form-control form-control-lg form-control-solid" type="{{ field.name }}"
											 name="{{ field.name }}"
											 autocomplete="off"/>
							</label>
						</div>
						{% if field.help_text %}
							<p class="help">{{ field.help_text }}</p>
						{% endif %}
						<div class="fv-plugins-message-container invalid-feedback">
							{{ field.errors }}
						</div>
					{% endfor %}
					<!--end::Form group-->
					<!--begin::Action-->
					<div class="pb-lg-0 pb-5">
						<button type="submit" id="kt_login_signin_form_submit_button"
										class="btn btn-primary fw-bolder fs-6 px-8 py-4 my-3 me-3">Зарегистрироваться
						</button>
						<a href='{% url 'login' %}' id="kt_login_signin_form_submit_button"
							 class="btn btn-primary fw-bolder fs-6 px-8 py-4 my-3 me-3">Авторизоваться
						</a>
					</div>
					<!--end::Action-->
					<div class="fv-plugins-message-container invalid-feedback">
							{{ form.non_field_errors }}
					</div>
				</form>
				<!--end::Signin Form-->

			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Login-->
</div>
<!--end::Main-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="{% static 'assets/js/custom/general/login.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>