{% load static %}
<div id="kt_aside" class="aside bg-info" data-kt-drawer="true" data-kt-drawer-name="aside"
		 data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="70px"
		 data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggler">
	<!--begin::Primary-->
	<div class="aside-primary d-flex flex-column align-items-center flex-row-auto">
		<!--begin::Logo-->
		<div class="aside-logo d-flex flex-column align-items-center flex-column-auto py-4 pt-lg-10 pb-lg-7"
				 id="kt_aside_logo">
			<a href="{% url 'index' %}">
				<img alt="Logo" src="{% static 'assets/media/logos/logo-compact.svg' %}" class="mh-50px"/>
			</a>
		</div>
		<!--end::Logo-->
		<!--begin::Nav Wrapper-->
		<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pt-0 pb-5" id="kt_aside_nav">
			<!--begin::Nav scroll-->
			<div class="hover-scroll-y" data-kt-scroll="true" data-kt-scroll-height="auto"
					 data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_nav"
					 data-kt-scroll-offset="10px">
				<!--begin::Nav-->
				<ul class="nav flex-column">
					<!--begin::Item-->
					{% if user.is_superuser %}
						<li class="nav-item mb-1" title="Админка" data-bs-toggle="tooltip" data-bs-dismiss="click"
								data-bs-placement="right">
							<a
									href="{% url 'admin:index' %}"
									class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white">

								<!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
								<span class="svg-icon svg-icon-2 svg-icon-lg-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
								<path opacity="0.3"
											d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z"
											fill="black"></path>
								<path
										d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z"
										fill="black"></path>
							</svg>
						</span>
								<!--end::Svg Icon-->
							</a>
						</li>
					{% endif %}
					<li class="nav-item mb-1" title="Выход" data-bs-toggle="tooltip" data-bs-dismiss="click"
							data-bs-placement="right">
						<a
								href="{% url 'logout' %}"
								class="nav-link h-40px w-40px h-lg-50px w-lg-50px btn btn-custom btn-icon btn-color-white
												{% if '/clients/' in request.path %}active{% endif %}">
							<!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
							<span class="svg-icon svg-icon-2 svg-icon-lg-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"
										 fill="none">
									<rect opacity="0.3" x="4" y="11" width="12" height="2" rx="1" fill="black"></rect>
									<path
											d="M5.86875 11.6927L7.62435 10.2297C8.09457 9.83785 8.12683 9.12683 7.69401 8.69401C7.3043 8.3043 6.67836 8.28591 6.26643 8.65206L3.34084 11.2526C2.89332 11.6504 2.89332 12.3496 3.34084 12.7474L6.26643 15.3479C6.67836 15.7141 7.3043 15.6957 7.69401 15.306C8.12683 14.8732 8.09458 14.1621 7.62435 13.7703L5.86875 12.3073C5.67684 12.1474 5.67684 11.8526 5.86875 11.6927Z"
											fill="black">
									</path>
									<path
											d="M8 5V6C8 6.55228 8.44772 7 9 7C9.55228 7 10 6.55228 10 6C10 5.44772 10.4477 5 11 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H11C10.4477 19 10 18.5523 10 18C10 17.4477 9.55228 17 9 17C8.44772 17 8 17.4477 8 18V19C8 20.1046 8.89543 21 10 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H10C8.89543 3 8 3.89543 8 5Z"
											fill="#C4C4C4">
									</path>
								</svg>
							</span>
							<!--end::Svg Icon-->
						</a>
					</li>
					<!--end::Item-->
				</ul>
				<!--end::Nav-->
			</div>
			<!--end::Nav scroll-->
		</div>
		<!--end::Nav Wrapper-->
	</div>
	<!--end::Primary-->
</div>