{% load static %}
<!DOCTYPE html>
<html lang="ru">
<!--begin::Head-->
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	{% block head %}
		<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}"/>
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
		<!--end::Fonts-->
		<!--begin::Page Vendor Stylesheets(used by this page)-->
		<link href="{% static 'assets/plugins/custom/leaflet/leaflet.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<!--end::Page Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
		<!--end::Global Stylesheets Bundle-->
	{% endblock %}
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
			class="header-fixed header-tablet-and-mobile-fixed aside-enabled aside-fixed aside-primary-enabled aside-secondary-disabled">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::Page-->
	<div class="page d-flex flex-row flex-column-fluid">
		<!--begin::Aside-->
		{% include "aside.html" %}
		<!--end::Aside-->
		<!--begin::Wrapper-->
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
			<!--begin::Header-->
			<div id="kt_header" class="header p-lg-7" data-kt-sticky="true" data-kt-sticky-name="header"
					 data-kt-sticky-offset="{default: '200px', lg: '300px'}">
				<!--begin::Container-->
					<!--begin::Title-->
					<h2 class="text-dark fw-bolder my-1 fs-1">{% block header %}{% endblock %}</h2>
					<!--end::Title-->
			</div>
			<!--end::Header-->
			<!--begin::Main-->
			<div class="d-flex flex-column flex-column-fluid">
				<!--begin::Content-->
				<div class="content fs-6 d-flex flex-column-fluid" id="kt_content">
					<div class="container-fluid">
						<div style="height: 100%;" class="row g-0 g-xl-5 g-xxl-8">
							<div class="col-xl-12">
								{% block content %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% block js %}
	<!--begin::Javascript-->
	<!--begin::Global Javascript Bundle(used by all pages)-->

	<script src="{% static 'assets/js/jquery/jquery-3.7.1.js' %}"
					crossorigin="anonymous"></script>
	<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
	<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Page Vendors Javascript(used by this page)-->
	<script src="{% static 'assets/plugins/custom/leaflet/leaflet.bundle.js' %}"></script>
	<!--end::Page Vendors Javascript-->
	<!--begin::Page Custom Javascript(used by this page)-->
	<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
	<script src="{% static 'assets/js/custom/modals/create-app.js' %}"></script>
	<script src="{% static 'assets/js/custom/modals/select-location.js' %}"></script>
	<script src="{% static 'assets/js/custom/modals/users-search.js' %}"></script>
	<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
{% endblock %}
</body>
<!--end::Body-->

</html>